<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-2">
        <button class="btn btn-dark" class=".button-style">Home</button>
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-dark">Features</button>
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-info">Sign Up!</button>
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-primary">Reports</button>
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-primary">Jobs</button>
      </div>
      <div class="col col-lg-2">
        <button class="btn btn-primary">Adm=in</button>
      </div>
    </div>
  </div>
<div class="container-sm">
    <div class="d-flex justify-content-start">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="name" class="form-control" id="exampleName" aria-describedby="name" [(ngModel)]="username" name="username">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="doLogin()">Submit</button>
        </form>
    </div>
    <br>
    <button class="btn btn-primary" (click)="toggleShow()">Click</button>
    <div *ngIf="show"> 
        <p>Toggle!</p>
    </div>
    <div class="container">
      <div class="d-flex justify-content-end">
        <button class="btn btn-secondary">Route To</button>
      </div>
      <div class="row">
        <div class="col col-lg-2">
          <a [routerLink]= "['/homePage']">Home Page</a>
      </div>
      </div>
    </div>
    
</div>
<!-- <home-page (showAlert)="checkOutput($event)"></home-page> -->

